
{% extends 'app/base.html' %}

{% block title %}{% endblock title %}
{% block head %}{% endblock head %}
{% block css %}{% endblock css %}

{% block banner %}



<div class=" banner-text-content" >
  <div class="blu text-center">A brand new way of</div>
  <h1 class="growing-h1 text-center">Growing your Farm</h1>
  <div class="cta">
    <a href="" class="btn cust-btn  button-green">Buy AV Tokens</a>
    <a href="https://t.me/theagriverse" target="_blank" class="btn cust-btn  button-white">Join
        US</a>
</div>
  <p class="grow-farm-desc">Agriverse is a Game-Fi component (Plant 2 Earn), Agrimetaverse (Play 2
      Earn) and a
      Decentralized Agriculture built on web3.0 while using cutting-edge technologies like IOT and AI,
      in which
      you
      will get a physical land, crops, and livestock as virtual NFTs.
      A realistic solution featuring physical assets that enable users to offset their carbon
      footprint by
      connecting the physical and virtual worlds and having real-world applications with 24/7 live
      surveillance
      of land and farms through advanced and powerful drones and cameras.</p>

  
</div>

<div class="top-pngwings">
  <img src="/static/app/img/pngwing2.png" alt="" class="pngwing-left">
  <img src="/static/app/img/pngwing2.png" alt="" class="pngwing-right">
</div>

{% endblock banner %}

{% block body %}

  

    <section class="about-agriverse" id="about-agriverse">
      <div class="about-agriverse-img-d"><img src="/static/app/img/island3.png" alt="" class=""></div>


      <div class="row">
        <div class="col-md-5 about-agriverse-col">
          <h2 class="h2-text">About</h2>
          <h1 class="h1-text about-h1">Agriverse</h1>
        </div>
        <!-- <div class="col-md-5 about-agriverse-img-d"><img src="/static/app/img/island3.png" alt="" class=""></div> -->

        <!-- <div class="col-sm-7"><img src="/static/app/img/island2.png" alt="" class="img-responsive"></div> -->

      </div>
      <div class="row mx-auto about-agriverse-col about-agriverse-col-text ">
        <div class="col-md-5 mx-2">
          <p class="p-text">
            Agriverse is a Game-Fi component (plant to Earn) a Decentralized agriculture built on web3.0 while using
            cutting-edge technologies like IOT and AI, in which you will obtain physical land, crops and livestock as
            virtual NFTs. A realistic solution featuring physical assets that allow users to offset their carbon
            footprint by connecting the physical and virtual worlds and having real-world applications.
          </p>
          <p class="p-text">
            Agriverse uses specialized technologies such as sensors, cameras, drones, and other equipment to monitor and
            manage crops and livestock

          </p>
          <p class="p-text">
            Agriverse is a largest Social network of profitable businesses for farmers, traders, and advanced users,
            instituting a preference for their products by differentiating and promoting user-generated Web 3.0 content
            from farmers to consumers via Web 3.0 networks content and giving you a monetary value for each seed you
            plant on our leased farmland.
          </p>
        </div>
        <div class="col-md-6 mx-2 mt-5">
          <p class="p-text mt-5">
            AgriMetaverse is the activity of earning rewards by actions performed within a virtual world
            (Agrimetaverse). It's comparable to farming in console games, where users do chores or activities in
            exchange for in-game tokens, NFTs or other rewards.
          </p>
          <p class="p-text">
            AgriMetaverse may entail taking part in events or activities, creating or selling virtual goods or services,
            or otherwise contributing to the community in a way that is recognized and rewarded by the platform or other
            users.

          </p>

        </div>
      </div>

    </section>
    <div class="about-agriverse-img-m"><img src="/static/app/img/island3-mobile.png" alt="" class=""></div>

    <section class="bgk" style="    background-image: url(/static/app/img/bg-2.png);">
      <!-- <img src="/static/app/img/bg-2.png" alt="" class="bgk-background-d"> -->
      <div class="bgk-inner">
        <div class="">
          <div class="row">
            <div class="col-md-4 nftrees-head">
              <div class="">Types of</div>
              <div class="">NFTrees</div>
            </div>
            <div class="col-md-8">
              <img src="/static/app/img/bg-2.png" alt="" class="bgk-background-m">

              <div class=" text-center my-3 custom-bgk">
                <div class="row  justify-content-center">
                  <div class="owl-carousel owl-theme nft-types-owl-theme">
                    <div class="item">
                      <a href="/static/app/doc/Agriverse project.pdf#page=6" target="_blank" class="nft-card-type-link">
                        <div class=" nft-card-type">
                          <div class="card-img-nft">
                            <img src="/static/app/img/fruit-tree.png" class="img-fluid">
                          </div>
                          <div class="nft-name">
                            LONG TERM
                          </div>
                        </div>
                      </a>
                    </div>

                    <div class="item">
                      <a href="/static/app/doc/Agriverse project.pdf#page=16" target="_blank" class="nft-card-type-link">
                        <div class=" nft-card-type">
                          <div class="card-img-nft">
                            <img src="/static/app/img/avenue-tree.png" class="img-fluid">
                          </div>
                          <div class="nft-name">
                            MID TERM
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="item">
                      <a href="/static/app/doc/Agriverse project.pdf#page=29" target="_blank" class="nft-card-type-link">
                        <div class=" nft-card-type">
                          <div class="card-img-nft">
                            <img src="/static/app/img/avenue-tree.png" class="img-fluid">
                          </div>
                          <div class="nft-name">
                            SHORT TERM
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="item">
                      <a href="/static/app/doc/Agriverse project.pdf#page=36" target="_blank" class="nft-card-type-link">
                        <div class=" nft-card-type">
                          <div class="card-img-nft">
                            <img src="/static/app/img/livestock-1.png" class="img-fluid livestock-img">
                          </div>
                          <div class="nft-name">
                            LIVE STOCK
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

    </section>
    <section class="discover-agriverse">
      <span>
        <div class="h2-text">
          Discover
        </div>
        <div class="h1-text">
          Agriverse
        </div>
      </span>
      <div class="discover-agriverse-btns">


        <!-- <button class="discover-btns" >Whitepaper <div class="view-now">View Now</div></button>
        <button class="discover-btns">Audit & KYC Report <div class="view-now">View Now</div></button> -->

        <a href="#" target="_blank" class="discover-btns">Our Team <div class="view-now">View Now</div>
        </a>
        <a href="/static/app/doc/AgriVerse WhitePaper🌳.pdf" target="_blank" class="discover-btns">Whitepaper <div
            class="view-now">View Now</div>
        </a>
        <!-- <a href="/static/app/doc/Agriverse_KYCCertificate.pdf" target="_blank" class="discover-btns">Audit & KYC Report <div
            class="view-now">View
            Now</div>
          </a> -->

        <a href="/static/app/doc/AgriVerse_AuditReport_InterFi.pdf" class="discover-btns">Audit <div class="view-now">View Now
          </div>
        </a>

        <a href="/static/app/doc/Agriverse_KYCCertificate.pdf" target="_blank" class="discover-btns">KYC Report <div
            class="view-now">View Now</div>
        </a>

      </div>

    </section>

    <section class="nft-marketplace">
      <div class="marketplace-main">
        <div>
          <div class="h2-text text-center p-0">NFT</div>
          <div class="h1-text text-center">Marketplace</div>

          <div class=" marketplace-carousel-btn">
            <button class="carousel-control-prev marketplace-carousel-control-prev" type="button"
              data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon marketplace-carousel-control-prev-icon" aria-hidden="true">
                <img src="/static/app/img/left-arrow.png" alt="">
              </span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next marketplace-carousel-control-next" type="button"
              data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon marketplace-carousel-control-next-icon " aria-hidden="true">
                <img src="/static/app/img/right-arrow.png" alt="">
              </span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <img src="/static/app/img/marketplace-branch-left.png" alt="branch" class="marketplace-branch-left">
        <img src="/static/app/img/marketplace-branch-left.png" alt="branch" class="marketplace-branch-right">

        <div id="carouselExampleControls" class="carousel slide marketplace-carousel" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active marketplace-carousel-item" data-bs-interval="5000">
              <img src="/static/app/img/dApp-dashboard-dark.png" alt="">
            </div>
            <div class="carousel-item marketplace-carousel-item" data-bs-interval="5000">
              <img src="/static/app/img/dApp-farm-dark.png" alt="">
            </div>
            <div class="carousel-item marketplace-carousel-item" data-bs-interval="5000">
              <img src="/static/app/img/dApp-swap-dark.png" alt="">
            </div>
          </div>
        </div>

      </div>
      <div class="nft-marketplace-bottom">

        <div class="nft-marketplace-desc">
          <p class="p-text">Agriverse NFTs are real life valued fungible tokens. There are 10,000 uniquely designed
            NFTs,
            each created to cater to a specific agricultural asset or product such as livestock and food crops or trees
            bidding on request. It is important to note that the NFTs are as vast as agriculture itself and can used in
            the plant-to-earn game model developed for the ecosystem.</p>
          <p class="p-text">It was precisely with this colossal market in mind that the Agriverse developers created the
            Agriverse game, using blockchain technology that will provide holders with daily gains in the stakeout model
            planned for the next updates of the game, where their farm owners will have passive income, in addition to
            of
            gains from hunting crops.</p>

          <p class="p-text">Acquisition of ownership of the crops/trees is only possible through our NFTs.</p>

          <div class="cta cta-desktop">

            <button class="btn cust-btn button-green">Visit Marketplace</button>
            <button class="btn cust-btn button-white learn-more">Learn More</button>
          </div>
        </div>
        <div class="nft-marketplace-imgs">
          <div class="left">
            <div class="nft-img"><img src="/static/app/img/nft-1.png" alt=""></div>
            <div class="nft-img"><img src="/static/app/img/nft-2.png" alt=""></div>
          </div>
          <div class="right">
            <div class="nft-img"><img src="/static/app/img/nft-2.png" alt=""></div>
            <div class="nft-img"><img src="/static/app/img/nft-1.png" alt=""></div>
          </div>
        </div>
        <div class="cta cta-mobile">

          <button class="btn cust-btn button-green">Visit Marketplace</button>
          <button class="btn cust-btn button-white learn-more">Learn More</button>
        </div>
      </div>
    </section>


    <section class="tokenomics-main" id="tokenomics-main">
      <img class="tokenomics-branch" src="/static/app/img/branch.png" alt="">
      <img class="tokenomics-branch-left" src="/static/app/img/branch.png" alt="">
      <div class="tokenomics">

        <div class="ms-5 h1-text">Tokenomics</div>
        <img src="./img/tokenomics-line-chart.svg" alt="" class="tokenomics-line-chart">

        <div class="tokenomics-row">
          <div class="tokenomics-left">
            <div>
              <div class="token-color-circle circle-one"></div>
              <div><span class="token-type">Presale / Public</span> <span class="token-percent">25%</span></div>
            </div>
            <div>
              <div class="token-color-circle circle-two"></div>
              <div><span class="token-type">Staking</span><span class="token-percent">15%</span></div>
            </div>
            <div>
              <div class="token-color-circle circle-three"></div>
              <div><span class="token-type">Liquidity</span><span class="token-percent">15%</span></div>
            </div>
            <div>
              <div class="token-color-circle circle-four"></div>
              <div><span class="token-type">Ecosystem / Rewards</span><span class="token-percent">14%</span></div>
            </div>
            <div>
              <div class="token-color-circle circle-five"></div>
              <div><span class="token-type">Advisors / Partners</span><span class="token-percent">08%</span></div>
            </div>

          </div>
          <div class="tokenomics-right">
            <div>
              <div class="token-color-circle circle-one"></div>
              <div><span class="token-type">CEX</span> <span class="token-percent">05%</span></div>
            </div>
            <div>
              <div class="token-color-circle circle-two"></div>
              <div><span class="token-type">Marketing</span><span class="token-percent">05%</span></div>
            </div>
            <div>
              <div class="token-color-circle circle-three"></div>
              <div><span class="token-type">Private Sale</span><span class="token-percent">05%</span></div>
            </div>
            <div>
              <div class="token-color-circle circle-four"></div>
              <div><span class="token-type">Team / Dev</span><span class="token-percent">04%</span></div>
            </div>
            <div>
              <div class="token-color-circle circle-five"></div>
              <div><span class="token-type">Developer 2</span><span class="token-percent">04%</span></div>
            </div>
          </div>

        </div>
      </div>

    </section>
    <!-- <div class="ms-5 h1-text">Tokenomics</div>

  <section class="tokenomics">

    <img class="tokenomics-branch" src="/static/app/img/branch.png" alt="">

    <div class="tokenomics-left">
      <img src="/static/app/img/tokenomics-rect.png" alt="tokenomics-rect" class="tokenomics-rect">
      <img src="/static/app/img/tokenomics-chart.png" alt="tokenomics-chart" class="tokenomics-chart">

    </div>
    <div class="tokenomics-right">
      <div>
        <div class="tokenomics-token"><span class="token-number">1<img src="/static/app/img/Subtract1.png" alt=""></span><span
            class="token-type">Developer 2</span></div>
        <div class="tokenomics-token"><span class="token-number">2<img src="/static/app/img/Subtract2.png" alt=""></span><span
            class="token-type">Ecosystem / Rewards</span></div>
        <div class="tokenomics-token"><span class="token-number">3<img src="/static/app/img/Subtract3.png" alt=""></span><span
            class="token-type">CEX</span></div>
        <div class="tokenomics-token"><span class="token-number">4<img src="/static/app/img/Subtract4.png" alt=""></span><span
            class="token-type">Staking</span></div>
        <div class="tokenomics-token"><span class="token-number">5<img src="/static/app/img/Subtract5.png" alt=""></span><span
            class="token-type">Marketing</span></div>
      </div>
      <div>
        <div class="tokenomics-token"><span class="token-number">6<img src="/static/app/img/Subtract6.png" alt=""></span><span
            class="token-type">Private Sale</span></div>
        <div class="tokenomics-token"><span class="token-number">7<img src="/static/app/img/Subtract7.png" alt=""></span><span
            class="token-type">Presale / Public</span></div>
        <div class="tokenomics-token"><span class="token-number">8<img src="/static/app/img/Subtract8.png" alt=""></span><span
            class="token-type">Team / Dev</span></div>
        <div class="tokenomics-token"><span class="token-number">9<img src="/static/app/img/Subtract9.png" alt=""></span><span
            class="token-type">Advisors / Partners</span></div>
        <div class="tokenomics-token"><span class="token-number">10<img src="/static/app/img/Subtract10.png" alt=""></span><span
            class="token-type">Liquidity</span></div>
      </div>
    </div>
  </section> -->

    <div class="h1-text text-center ">Agriverse Slippage</div>

    <section class="agriverse-slippage">
      <img src="/static/app/img/slippage-branch-left.png" alt="" class="agriverse-slippage-left-branch">
      <img src="/static/app/img/slippage-branch-right.png" alt="" class="agriverse-slippage-right-branch">
      <div class="blue-div">
        <div>
          <div class="buy-head">Buy</div>
          <div><span>Buy Tax</span><span class="buy-percent">8%</span> </div>
          <div><span>Marketing</span><span class="buy-percent">4%</span></div>
          <div><span>BUSD Rewards</span><span class="buy-percent">2%</span></div>
          <div class="token-rewards">Min 500k Tokens</div>
          <div><span>Auto Liquidity</span><span class="buy-percent">1%</span></div>
          <div><span>AutoBurn</span><span class="buy-percent">1%</span></div>
        </div>
        <!-- <div class="blue-border-line">

    </div> -->
        <div>
          <div class="sell-head">Sell</div>
          <div><span>Sell Tax</span><span class="sell-percent">8%</span> </div>
          <div><span>Marketing</span><span class="sell-percent">4%</span></div>
          <div><span>BUSD Rewards</span><span class="sell-percent">2%</span></div>
          <div class="token-rewards">Min 500k Tokens</div>

          <div><span>Auto Liquidity</span><span class="sell-percent">1%</span></div>
          <div><span>AutoBurn</span><span class="sell-percent">1%</span></div>
        </div>
      </div>

    </section>

    <section class="roadmap " id="roadmap">
      <!-- <img src="/static/app/img/cripper-bg.png" alt="" class="roadmap-cripper"> -->

      <div class="text-center roadmap-head">Roadmap</div>
      <div class="text-center roadmap-desc">We have big plans</div>
      <div class="text-center roadmap-desc">for the future of request</div>


      <div class="roadmap-tabs-main">

        <ul class="nav nav-pills mb-3 roadmap-nav-pills" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link  roadmap-nav-link active" id="pills-home-tab" data-bs-toggle="pill"
              data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
              aria-selected="true">2022</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link roadmap-nav-link" id="pills-profile-tab" data-bs-toggle="pill"
              data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
              aria-selected="false">2023</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link roadmap-nav-link" id="pills-contact-tab" data-bs-toggle="pill"
              data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact"
              aria-selected="false">2024</button>
          </li>

        </ul>
        <img src="/static/app/img/cripper-bg.png" alt="" class="roadmap-cripper">

        <div class="tab-content roadmap-tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
            tabindex="0">
            <div class="roadmap-content">
              <div class="roadmap-content-div roadmap-Q1">
                <div class="circle-line">
                  <div class="green-circle-sm"></div>
                </div>

                <div class="roadmap-quater">
                  Q1
                </div>
                <ul>
                  <li>Planning and Building a professional team</li>
                  <li>Identity of core problems</li>
                  <li>Industry research</li>
                </ul>

              </div>
              <div class="roadmap-content-div roadmap-Q2">
                <div class="circle-line">
                  <div class="green-circle-sm"></div>
                </div>

                <div class="roadmap-quater">
                  Q2
                </div>
                <ul>
                  <li>Market research</li>
                  <li>Product finalization</li>
                  <li>Development planning</li>
                  <li>Budget and financial planning</li>
                </ul>

              </div>
              <div class="roadmap-content-div right-content-div roadmap-Q3">
                <div class="circle-line circle-line-right">
                  <div class="green-circle-sm green-circle-sm-right"></div>
                </div>

                <div class="roadmap-quater right-quater">
                  Q3
                </div>
                <ul>
                  <li>Process Planning and case Study of Phase1 crops</li>
                  <li>Planning of land and soil tests of respected farms for phase1 crops</li>
                  <li>Block chain process and planning</li>
                  <li>Whitepaper and Applications Planning</li>
                  <!-- <li> Metaverse Planning</li>
                  <li> Partnerships Planning</li>
                  <li>Marketing Planning</li> -->
                </ul>

              </div>

              <div class="roadmap-content-div right-content-div roadmap-Q4">
                <div class="circle-line  circle-line-right">
                  <div class="green-circle-sm green-circle-sm-right"></div>
                </div>

                <div class="roadmap-quater right-quater">
                  Q4
                </div>
                <ul>
                  <!-- <li>WhitePaper Release</li>
                  <li>Website Launch and Contract Creation</li>
                  <li>Listing on CMC and Goingecko</li>
                  <li>Partnership with some good launchpads</li>
                  <li>Conducting Presale and IDO</li>
                  <li>Purshasing land</li>
                  <li>The Agriverse Web app release. The Agriverse android app beta release</li> -->
                  <li>Purchasing lands in south India</li>
                  <li>The Agriverse Web app release</li>
                  <li> Metaverse Planning</li>
                  <li> Partnerships Planning</li>
                  <li>Marketing Planning</li>
                </ul>
              </div>

            </div>
          </div>
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"
            tabindex="0">
            <div class="roadmap-content">
              <div class="roadmap-content-div roadmap-Q1 second">
                <div class="circle-line">
                  <div class="green-circle-sm"></div>
                </div>

                <div class="roadmap-quater">
                  Q1
                </div>
                <ul>
                  <!-- <li>
                    Introducing 7-10 long-term, mid term and short term crops
                  </li>
                  <li>Intensive expansion and leasing with farmers</li>
                  <li>NFT marketplace launch</li>
                  <li>Release of second batch of NF's</li>
                  <li>The Agriverse iOS app beta release</li>
                  <li>Complete app Launch (android and iOS)</li>
                  <li>Multi Chain Token integration</li> -->

                  <li>Listing on CMC and Goingecko</li>
                  <li>Partnership with some good Launchpad’s</li>
                  <li>Conducting Presale and IDO</li>
                  <li>Launch of beta version Dapp</li>
                </ul>

              </div>
              <div class="roadmap-content-div roadmap-Q2 second">
                <div class="circle-line">
                  <div class="green-circle-sm"></div>
                </div>

                <div class="roadmap-quater">
                  Q2
                </div>
                <ul>
                  <!-- <li>Introducing more crops in TheAgriverse ecosystem.</li>
                  <li>Create brand name in India</li>
                  <li>Executing exporting Marketing plan</li>
                  <li>Introducing livestock's in TheAgriverse ecosystem</li>
                  <li> Partnership with some well known institutions/organizations.</li> -->

                  <li>Agriverse Token Launch</li>
                  <li>Listing on CMC and Goingecko</li>
                  <li>Agriverse NFT Marketplace Launch </li>
                  <li>Agriverse DAPP launch</li>
                  <li>The Agriverse IOS app beta release</li>
                </ul>

              </div>
              <div class="roadmap-content-div right-content-div roadmap-Q3 second">
                <div class="circle-line circle-line-right">
                  <div class="green-circle-sm green-circle-sm-right"></div>
                </div>

                <div class="roadmap-quater right-quater">
                  Q3
                </div>
                <ul>
                  <!-- <li>Creating Brand and expanding all over the brand Name of Agriverse</li>
                  <li>Starting a mass #GoGreen initiative</li>
                  <li>Starting a mass #GoGreen initiative</li>
                  <li>Executing Marketing plan II</li> -->
                  <li>Agriville Game Beta launch</li>
                  <li>Expanding TheAgriverse farms in north India</li>
                  <li>Incorporating carbon footprint to the Agriverse Ecosystem</li>
                  <li>Introducing 7-10 long-term, mid-term and short term crops</li>
                  <li>Intensive expansion and leasing with farmers</li>
                  <li>Release of second batch of NFT's</li>
                  <li>Create brand name in India</li>
                  <li>Executing exporting Marketing plan</li>
                  <li>Complete DApp Launch (android and iOS)</li>
                  <li>Multi Chain Token integration</li>
                </ul>

              </div>

              <div class="roadmap-content-div right-content-div roadmap-Q4 second">
                <div class="circle-line  circle-line-right">
                  <div class="green-circle-sm green-circle-sm-right"></div>
                </div>

                <div class="roadmap-quater right-quater">
                  Q4
                </div>
                <!-- <div class="coming-soon-quater">
                  Coming Soon
                </div> -->
                <ul class="">
                  <li>AgriMetaverse Beta launch</li>
                  <li>Launch and integration of carbon footprint to the Agriverse DApp and ecosystem</li>
                  <li>Introducing more crops in TheAgriverse ecosystem</li>
                  <li>Create brand name in Asia and Europe</li>
                  <li>Introducing More livestock's in TheAgriverse ecosystem</li>
                  <li>Partnership with some well-known institutions/organizations for brand marketing</li>
                </ul>

              </div>

            </div>
          </div>
          <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab"
            tabindex="0">
            <!-- <div class="roadmap-content">
              <div class="roadmap-content-div roadmap-Q1-soon">
                <div class="circle-line">
                  <div class="green-circle-sm"></div>
                </div>

                <div class="roadmap-quater">
                  Q1
                </div>
                <div class="coming-soon-quater">
                  Coming Soon
                </div>

              </div>
              <div class="roadmap-content-div roadmap-Q2-soon">
                <div class="circle-line">
                  <div class="green-circle-sm"></div>
                </div>

                <div class="roadmap-quater">
                  Q2
                </div>
                <div class="coming-soon-quater">
                  Coming Soon
                </div>

              </div>
              <div class="roadmap-content-div right-content-div roadmap-Q3-soon">
                <div class="circle-line circle-line-right">
                  <div class="green-circle-sm green-circle-sm-right"></div>
                </div>

                <div class="roadmap-quater right-quater">
                  Q3
                </div>
                <div class="coming-soon-quater">
                  Coming Soon
                </div>

              </div>

              <div class="roadmap-content-div right-content-div roadmap-Q4-soon">
                <div class="circle-line  circle-line-right">
                  <div class="green-circle-sm green-circle-sm-right"></div>
                </div>

                <div class="roadmap-quater right-quater">
                  Q4
                </div>
                <div class="coming-soon-quater">
                  Coming Soon
                </div>
              </div>
            </div> -->


            <div class="roadmap-content">
              <div class="roadmap-content-div roadmap-Q1 third">
                <div class="circle-line">
                  <div class="green-circle-sm"></div>
                </div>

                <div class="roadmap-quater">
                  Q1
                </div>
                <ul>
                  <li>Agriville Game Launch</li>
                  <li>Expanding TheAgriverse farms in Europe and Africa </li>
                  <li>Creating Brand and expanding all over the world with brand Name of TheAgriverse</li>
                  <li>Introducing Terrace gardening in the Agriverse Ecosystem in India</li>
                  <li>Starting a mass #GoGreen initiative (expanding carbon footprint initiative)</li>
                  <li>AgriMetaverse community testing</li>
                </ul>

              </div>
              <div class="roadmap-content-div roadmap-Q2 third">
                <div class="circle-line">
                  <div class="green-circle-sm"></div>
                </div>

                <div class="roadmap-quater">
                  Q2
                </div>
                <ul>
                  <li>Launch of AgriMetaverse</li>
                  <li>Introducing Aquaponics in the Agriverse Ecosystem</li>
                  <li>Introducing Terrace gardening in the Agriverse Ecosystem over Asia and Europe</li>
                  <li>Creating TheAgriverse Block chain Ecosystem mainly for agricultural Project’s</li>
                </ul>

              </div>
              <div class="roadmap-content-div right-content-div roadmap-Q3-soon third">
                <div class="circle-line circle-line-right">
                  <div class="green-circle-sm green-circle-sm-right"></div>
                </div>

                <div class="roadmap-quater right-quater">
                  Q3
                </div>
                <div class="coming-soon-quater">
                  Coming Soon
                </div>

              </div>

              <div class="roadmap-content-div right-content-div roadmap-Q4-soon third">
                <div class="circle-line  circle-line-right">
                  <div class="green-circle-sm green-circle-sm-right"></div>
                </div>

                <div class="roadmap-quater right-quater">
                  Q4
                </div>
                <div class="coming-soon-quater">
                  Coming Soon
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="faq">


      <div class="faq-accordion">
        <div class="h1-text faq-h1-text">FAQs</div>
        <div class="accordion" id="accordionExample">
          <div class="accordion-item faq-accordion-item">
            <h2 class="accordion-header faq-accordion-header" id="headingOne">
              <button class="accordion-button faq-accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                What is Agriverse?
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p class="p-text">

                  Agriverse is a decentralized agriculture platform that combines cutting-edge technology with gaming
                  and NFTs to create a virtual world where users can own virtual land, crops, and livestock. The
                  platform utilizes web3.0, IoT, and AI to provide a realistic solution for users and allow them to
                  offset their carbon footprint
                </p>

              </div>
            </div>
          </div>
          <div class="accordion-item faq-accordion-item">
            <h2 class="accordion-header faq-accordion-header" id="headingTwo">
              <button class="accordion-button faq-accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                How does Agriverse work?
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p class="p-text">
                  Agriverse allows users to own virtual land, crops, and livestock as NFTs. The platform uses web3.0,
                  IoT, and AI to provide a decentralized and secure platform that can provide users with 24/7 access to
                  their virtual farms. Drones and cameras provide live surveillance of virtual farms, creating a
                  connection between the physical and virtual worlds.
                </p>

              </div>
            </div>
          </div>
          <div class="accordion-item faq-accordion-item">
            <h2 class="accordion-header faq-accordion-header" id="headingThree">
              <button class="accordion-button faq-accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                What makes Agriverse different from other agricultural platforms?
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p class="p-text">
                  Agriverse is different from other agricultural platforms because of its use of NFTs, which allow users
                  to own virtual assets with real-world value. The platform also utilizes web3.0, IoT, and AI, providing
                  a decentralized and secure platform that can provide users with 24/7 access to their virtual farms.
                </p>
              </div>
            </div>
          </div>

          <div class="accordion-item faq-accordion-item">
            <h2 class="accordion-header faq-accordion-header" id="headingFour">
              <button class="accordion-button faq-accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Can I earn rewards on Agriverse?
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p class="p-text">
                  Yes, Agriverse has "Plant 2 Earn" and "Play 2 Earn" components that allow users to earn rewards for
                  their virtual farming activities.
                </p>

              </div>
            </div>
          </div>

          <div class="accordion-item faq-accordion-item">
            <h2 class="accordion-header faq-accordion-header" id="headingFive">
              <button class="accordion-button faq-accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Can I offset my carbon footprint with Agriverse?
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p class="p-text">
                  Yes, by owning virtual land, crops, and livestock on Agriverse, users can offset their carbon
                  footprint.
                </p>

              </div>
            </div>
          </div>




          <div class="accordion-item faq-accordion-item">
            <h2 class="accordion-header faq-accordion-header" id="headingSeven">
              <button class="accordion-button faq-accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                Who can use Agriverse?
              </button>
            </h2>
            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p class="p-text">
                  Agriverse is designed for anyone who is interested in investing in the future of agriculture and
                  making a positive impact on the environment. Whether you're a farmer, a gamer, or an
                  environmentally-conscious individual, Agriverse has something for everyone.
                </p>

              </div>
            </div>
          </div>
          <div class="accordion-item faq-accordion-item">
            <h2 class="accordion-header faq-accordion-header" id="headingSix">
              <button class="accordion-button faq-accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                What are the different types of yields in Agriverse?
              </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p class="p-text">
                  Agriverse categorizes yields into three categories based on the term of the harvest:Long term (yield
                  9-10 years), Mid-term (yield 1-3 years), and Short term (yield 15-150 days), as well as Livestock
                  Farming.
                </p>

              </div>
            </div>
          </div>
          <div class="accordion-item faq-accordion-item">
            <h2 class="accordion-header faq-accordion-header" id="headingEight">
              <button class="accordion-button faq-accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                what are the uniqueness of agriverse NFTS
              </button>
            </h2>
            <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p class="p-text">
                  The unique aspect of Agriverse NFTs is that they allow users to own virtual assets with real-world
                  value. This means that users can invest in virtual assets and have a real-world impact through their
                  investment. For example, owning virtual land, crops, and livestock on Agriverse can offset a user's
                  carbon footprint.
                </p>
                <p class="p-text">
                  In addition, the NFTs on Agriverse are decentralized, meaning they are stored on a blockchain network
                  and can be bought, sold, and traded in a secure and transparent manner. This creates a new and
                  innovative way for individuals to invest in the future of agriculture and the environment.
                </p>
                <p class="p-text">
                  By using NFTs, Agriverse is able to create a virtual world that is linked to the real world, allowing
                  users to have a tangible impact through their virtual investments. This sets Agriverse apart from
                  other agricultural platforms and creates a unique and innovative solution for sustainability and
                  environmental impact.
                </p>


              </div>
            </div>
          </div>

          <div class="accordion-item faq-accordion-item">
            <h2 class="accordion-header faq-accordion-header" id="headingNine">
              <button class="accordion-button faq-accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                How is revenue generated in Agriverse?
              </button>
            </h2>
            <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p class="p-text">
                  Revenue is generated by the sale of the mature agricultural assets represented by the NFTs.For
                  example, if a user buys a sandalwood NFT, the platform will plant a sandalwood tree on its real-world
                  land. Once the tree has grown to maturity, it can be sold for profit, with the revenue being returned
                  to the NFT holder.
                </p>

              </div>
            </div>
          </div>

          <div class="accordion-item faq-accordion-item">
            <h2 class="accordion-header faq-accordion-header" id="headingTen">
              <button class="accordion-button faq-accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                What makes Agriverse unique compared to other investment opportunities?
              </button>
            </h2>
            <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p class="p-text">
                  Agriverse offers a new and innovative way to invest in real-world agricultural assets,using the
                  benefits of blockchain technology to provide transparency and security.Additionally, the platform
                  allows users to invest in a sustainable and eco-friendly industry with potential for long-term growth.
                </p>

              </div>
            </div>
          </div>

          <div class="accordion-item faq-accordion-item">
            <h2 class="accordion-header faq-accordion-header" id="headingEleven">
              <button class="accordion-button faq-accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                Is Agriverse secure?
              </button>
            </h2>
            <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p class="p-text">
                  Yes, Agriverse utilizes web3.0, IoT, and AI to provide a decentralized and secure platform for users.
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>




      <div class="faq-right-img">
        <img src="/static/app/img/two-trees.png" alt="">
      </div>

    </section>

    <section class="newsletter">
      <img src="/static/app/img/island2.png" alt="" class="newsletter-island-top">

      <span>
        <div class="newsletter-title">
          Newsletter
        </div>
        <div class="newsletter-title">
          Subscription
        </div>
      </span>
      <div class="newsletter-inp-div">
        <input type="text" placeholder="Your Email Address" class="newsletter-email">
        <button class="btn cust-btn button-green subscribe-btn">Subscribe</button>
      </div>

      <img src="/static/app/img/island2.png" alt="" class="newsletter-island-bottom">
    </section>



    {% endblock body %}


    
    {% block js %}{% endblock js %}