{% extends 'app/base.html' %}
{% load static %}

{% block title %}
Reset Password
{% endblock %}

{% block css %}
.my-m{
	margin:200px 0px;
}

{% comment %} .btn.my-primary-btn {
    background: #229f38;
    color: white;
} {% endcomment %}


.alert-success {
    color: #21b084 !important;
    background-color: #27b18047;
    border-color: white;
}

.text-success, .dropdown-menu>li>a.text-success {
    color: #21b084 !important;
}

@media screen and (max-width:989px){
    .my-m{
        margin:100px 0px;
    }
    
} 



{% endblock css %}

{% block body %}


<div class="container">
    <div class="row my-m justify-content-center ">
        <div class="col-md-6 mt-5 px-0">
            <div class="card">
                <div class="card-header" id="headingOne">
                  <h4><i class="fas fa-check-circle text-success"></i> Password Change</h4>
                </div>
            
                <div class="card-body">
                    <div class="alert alert-success">
                        <p class="text-success m-0"><i class="fas fa-check-circle"></i> <strong>Conruchulation!</strong> Your Password has been Changed Successfully.</p>
                    </div>
                    
                    <P class="m-0 text-center">Please Login to your It Town account again.</P>
                    
                    <hr>

                    <div class="text-center">
                        <a href="/login/"  class="btn my-primary-btn button-green">Login Now</a>
                    </div>

                </div>
                
            </div>

        </div>
    </div>
</div>


{% endblock body %}


{% block js %}


{% endblock js %}