{% extends 'app/base.html' %}
{% load static %}

{% block title %}
Reset Password
{% endblock %}

{% block css %}
.my-m{
	margin:200px 0px;
}

{% comment %} button.btn.my-primary-btn {
    background: #071142;
    color: white;
} {% endcomment %}

@media screen and (max-width:989px){
    .my-m{
        margin:100px 0px;
    }
    
} 
{% endblock css %}

{% block body %}


<div class="container">
    <div class="row my-m justify-content-center ">
        <div class="col-md-6 mt-5 px-0">
            <div class="card">
                <div class="card-header" id="headingOne">
                  <h4>Forgot Password</h4>
                </div>
            
                <div class="card-body">
                    <div class="alert alert-info">
                        <p class="text-info m-0">Please Input Your Agriverse Account Email!</p>
                    </div>
                    
                    <P class="m-0 text-center">When you created a ittown.pk account, enter the email you used at that time.</P>
                   
                    <hr>
                    <form action="" method="POST" class="reset_form">
                    <div class="col-md-7 px-0">
                        {%csrf_token%}
                        {% for fields in form %}
                            {{fields.label}}
                            {{fields}}

                        {% endfor %}
                    </div>
                        <div class="text-right mt-3">
                            <button type="submit" class="btn my-primary-btn button-green">Next</button>
                        </div>

                    </form>
                   
                </div>
                
            </div>

        </div>
    </div>
</div>


{% endblock body %}


{% block js %}


<script>
    $(".reset_form input").attr("class" , "form-control")
</script>


{% endblock js %}