{% extends 'app/base.html' %}
{% load static %}

{% block title %}
Email Sent Done
{% endblock %}

{% block css %}
.my-m{
	margin:200px 0px;
}

{% comment %} .btn.my-primary-btn {
    background: #071142;
    color: white;
} {% endcomment %}

.mail_icon_div > i {
    font-size: 100px;
    color: #a4e064;
}

.alert-success {
    color: #21b084 !important;
    background-color: #27b18047;
    border-color: white;
}

.text-success, .dropdown-menu>li>a.text-success {
    color: #21b084 !important;
}

@media screen and (max-width:989px){
    .my-m{
        margin:100px 0px;
    }
    
} 

{% endblock css %}

{% block body %}


<div class="container">
    <div class="row my-m justify-content-center">
        <div class="col-md-6 px-0">
            <div class="card">
                <div class="card-header" id="headingOne">
                  <h4 class="text-success"><i class="fas fa-check-circle"></i> Email Sent!</h4>
                </div>
            
                <div class="card-body">
                    <div class="text-center mail_icon_div">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </div>
                    <div class="alert alert-success">
                        <P class="m-0 text-success text-center">You're receiving this email because you requested a password reset for your user account at google..</P>
                        {% comment %} <p class="text-success m-0 text-center">آپ کو میل بھیج دے گئی ہے اپنا ای میل دیکھ</p> {% endcomment %}
                    </div>
                    
                    <hr>


                    <div class="text-center">
                            <a class="btn my-primary-btn button-green" href="https://mail.google.com/">Go To Mail</a>
                    </div>

                   
                   
                </div>
                
            </div>

        </div>
    </div>
</div>


{% endblock body %}


{% block js %}{% endblock js %}