{% extends 'lms/base.html' %}
{% load static %}

{% block title %}
Settings
{% endblock %}

{% block css %}




.user-setting-tab {
    cursor: pointer;
    padding: 4px 12px;
}

{% comment %} #set_password{
    display:none;
}

#change_password{
    display:none;
} {% endcomment %}
.btn-primary {
    background-color: #071142;
    border: 1px solid #071142;
}

.card-body{
    background:white;
}



{% endblock css%}

{% block body %}



<div class="container">
    <div class="row nav-mt">
 
        {% include "lms/student_dashboard_base.html" %}
     
        <div class="col-md-8 px-2">
            <div class="msg">
                {%if messages %}
                {%for message in messages %}
                {% load static %}
            
            
                <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                    <strong></strong>{{message}}.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            
                {%endfor%}
                {%endif%}
            </div>
        {% comment %} <div class="card-header">
            <div class="d-flex">
            <div class="user-setting-tab" id="setting_tab_1" style='border: 2px solid #cfcfcf;border-bottom: none;border-radius: 8px 7px 0px 0px;'>Profile</div>
            <div class="user-setting-tab" id="setting_tab_2" >Change Passowrd</div>
            <div class="user-setting-tab" id="setting_tab_3" >Set Password</div>
            </div>
        </div> {% endcomment %}



        <div id="profile" >
            <div class="card-header">
                <h4 class="mb-0">My Profile</h4>
                </div>
                <div class="card-body">
                  <div class="col-md-12">
                    <div class="row">

                      <div class="col-md-12">
                        <label for="" class="border-bottom">User name:</label>
                        <p>{{request.user.username}}</p> 
                      </div>

                      <div class="col-md-6 f-name-col">
                        <label for="" class="border-bottom">First Name:</label>
                        {% if request.user.first_name %}
                        <p>{{request.user.first_name}}</p> 
                        {% else %}
                       
                        <input class="d-block form-control" type="text"  name="update_fname" id="update_fname" placeholder="add your first Name">
                        {% endif %}
                      </div>

                      <div class="col-md-6 l-name-col">
                        <label for="" class="border-bottom">Last Name:</label>
                        {% if request.user.last_name %}
                        <p>{{request.user.last_name}}</p> 
                        {% else %}
                        <input class="d-block form-control" type="text"  name="update_lname" id="update_lname" placeholder="add your last Name">
                        {% endif %}
                      </div>

                      <div class="col-md-6">
                        <label for="" class="border-bottom">Email Address:</label>
                        <p>{{request.user.email}}</p>
                      </div>


                      <div class="col-md-6">
                        <label for="" class="border-bottom">Status:</label>
                        <p>
                        as a Buyer <i class="fas fa-check-circle text-success"></i>
                        </p>
                      
                        
                      </div>

                      {% if request.user.first_name and request.user.last_name%}
                      {% else %}
                      <div class="col-md-12">
                       
                        <button type="button" id="update_fname_lname_btn" class="btn-sm btn-primary">Update</button>
                        
                      </div>
                      {% endif %}
                      
                      
                    
                    
                    
                    
                    </div>
                    
                  </div>
                  
                </div>
            </div>
   
            <div class="row mt-2 mb-4">

                <div class="col-md-6" id="change_password">
                    <div class="card-header">
                    <h4 class="mb-0">Change Password</h4>
                    </div>
                    <div class="card-body">
                    <form action="/change-password/" method="POST">
                        {%csrf_token%}
                        {% if form.non_field_errors %}
                        {% for error in  form.non_field_errors%}
                        <small>{{error}}</small>
                        {% endfor %}
                        {% endif %}
                        <div class="col-md-8 m-auto px-0">
                        {% for fm in form %}
                        
                            {{fm.label_tag}} 
                            {{fm}} 
                            
                        {% endfor %}
                        </div>
                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-primary my-3 ">Change Password</button>
                        </div>
                        
                    </form>
                    </div>
                    </div>
                            
    
                    <div class="col-md-6" id="set_password">
                    <div class="card-header">
                    <h4 class="mb-0">Set Password</h4>
                    </div>
                    <div class="card-body " style="height: 83%;">
                        <form action="/change-without-password/" method="POST">
                        {%csrf_token%}
                        {% if form_without.non_field_errors %}
                        {% for error in  form_without.non_field_errors%}
                        <small>{{error}}</small>
                        {% endfor %}
                        {% endif %}
                        <div class="col-md-8 m-auto px-0">
                        {% for fm_w in form_without %}
                        
                            {{fm_w.label_tag}} 
                            {{fm_w}} 
                            
                        {% endfor %}
                        </div>
                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-primary my-3 ">Set Password</button>
                        </div>
                        
                    </form>
                    </div>
                    </div>
                

            </div>


    
                
        

            
        </div>
    </div>
</div>



{% endblock body %}

{% block js %}

<script>

    $("#change_password input").addClass("form-control")
    $("#set_password input").addClass("form-control")


    $("#setting_tab_1").click(function(){
        $('#setting_tab_1').attr('style','border: 2px solid #cfcfcf;border-bottom: none;border-radius: 8px 7px 0px 0px;')
        $('#setting_tab_2').removeAttr('style')
        $('#setting_tab_3').removeAttr('style')
        $('#profile').show()
        $('#change_password').hide()
        $('#set_password').hide()
    })

    $("#setting_tab_2").click(function(){
        $('#setting_tab_2').attr('style','border: 2px solid #cfcfcf;border-bottom: none;border-radius: 8px 7px 0px 0px;')
        $('#setting_tab_1').removeAttr('style')
        $('#setting_tab_3').removeAttr('style')
        $('#profile').hide()
        $('#change_password').show()
        $('#set_password').hide()
    })


    $("#setting_tab_3").click(function(){
        $('#setting_tab_3').attr('style','border: 2px solid #cfcfcf;border-bottom: none;border-radius: 8px 7px 0px 0px;')
        $('#setting_tab_1').removeAttr('style')
        $('#setting_tab_2').removeAttr('style')
        $('#profile').hide()
        $('#change_password').hide()
        $('#set_password').show()
    })
    
    
</script>


<script>




$("#update_fname_lname_btn").click(function(){
    

    var _fname = $("#update_fname").val()
    var _lname = $("#update_lname").val()

    $.ajax({
        url:'/fname_lname_api',
        data:{
            fname:_fname,
            lname:_lname
            
        },
        dataType:'json',
        beforeSend:function(){
            $("#update_fname_lname_btn").html('Update <i class="fa fa-refresh fa-spin"></i>')
        },
        success:function(res){
            if (res.data == "user_updated"){
                $("#update_fname_lname_btn").remove()
                $(".f-name-col").html(`<label for="" class="border-bottom">First Name:</label> <p>${_fname}</p> `)
                $(".l-name-col").html(`<label for="" class="border-bottom">Last Name:</label> <p>${_lname}</p> `)

            }
            else{
               $('#update_fname , #update_lname').css({'border':'1px solid red'})
               $("#update_fname_lname_btn").html('Update')

            }
        }
    });


});

</script>

{% endblock js %}